html, body{
    height: 100%;
}

#padre {
    display: flex;
    justify-content: center;
    align-items: center;
 }

h1{
    align-self: center;
}

body{
    display: flex;
}


gauge{
    align-self: center;
    width:400px; 
    height:320px
}